
<div class="container">
     <div class="card h-100" id="show" style="width: 18rem;">
                <div class="card-body">
                  <h5><a class="card-title" href="{{map.creatorUrl}}">{{map.creator}}</a></h5>
                  <p class="card-text">Mission: {{map.mission}}</p>
                  <p class="card-text">1. {{map.goalOne}}</p>
                  <p class="card-text">2. {{map.goalTwo}}</p>
                  <p class="card-text">3. {{map.goalThree}}</p>
                  <p class="card-text">4. {{map.goalFour}}</p>
                  <p class="card-text">5. {{map.goalFive}}</p>
                    <div class="text-right">
                      <a href="/maps/{{map.id}}/edit">Edit</a>
                    </div>
                     <div class="col-lg-4 offset-lg-1">
                      <a href="/maps/{{map.id}}/complete/new" class="btn btn-primary btn-sm">Completed</a>
                    </div>

                </div>
      </div>
</div>
     
  