
<!-- maps-index -->
  <div class="row" id="index">
    <h1 class="index">Vision Maps</h1>
    {{#each maps}}
      <div class="col-lg-4">
          <div class="card h-100" style="width: 18rem;">
                <div class="card-body">
                  <h5><a class="card-title" href="{{this.creatorUrl}}">{{this.creator}}</a></h5>
                  <p class="card-text">Mission: {{this.mission}}</p>
                  <p class="card-text">1. {{this.goalOne}}</p>
                  <p class="card-text">2. {{this.goalTwo}}</p>
                  <p class="card-text">3. {{this.goalThree}}</p>
                  <p class="card-text">4. {{this.goalFour}}</p>
                  <p class="card-text">5. {{this.goalFive}}</p>
                </div>
          </div>
      </div>
  {{/each}}
 </div>


