
<div class="container">
     <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{map.creator}}</h5>
            <p class="card-text">{{map.mission}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{map.goalOne}}</li>
            <li class="list-group-item">{{map.goalTwo}}</li>
            <li class="list-group-item">{{map.goalThree}}</li>
            <li class="list-group-item">{{map.goalFour}}</li>
            <li class="list-group-item">{{map.goalFive}}</li>
          </ul>
          <div class="card-body">
            <a href="{{map.creatorUrl}}" class="card-link">Card link</a>
          </div>    
     </div>
</div>
     
  