
<!-- maps-index -->
  <div class="row" id="index">
    <h1 class="index">Vision Maps</h1>
    {{#each maps}}
      <div class="col-lg-4">
          <div class="card h-100" style="width: 18rem;">
                <div class="card-body">
                  <h2 id="card"><a class="card-title" href="/maps/{{this.id}}">{{this.creator}}</a></h2>
                  <p class="card-text"><b>Mission: </b> {{this.mission}}</p>  
                  <p class="card-text"><b>Website: </b> {{this.creatorUrl}}</p>         
                  <a href="/maps/{{this.id}}" class="btn btn-primary" id="index">Learn More</a>
                </div>
          </div>
      </div>
  {{/each}}
 </div>


