
<div class="container">
     <h3>Event: {{map.creator}}</h3>
     <h6>Details: {{map.creatorUrl}}</h6>
     <h6>Game: {{map.mission}}</h6>
     <h6>Location: {{map.goalOne}}</h6>
     <div class="text-right">
          <a href="/maps/{{map.id}}/edit" class="btn btn-info btn-sm">Edit</a>
     </div>
</div>
<div class="col-lg-4 offset-lg-1">
   

      <div class="list-group mt-4">
           <p>{{map.goalTwo}}</p>
        <p>{{map.goalThree}}</p>
        <p>{{map.goalFour}}</p>
        <p>{{map.goalFive}}</p>
       

    </div>
</div>